
  .central {
    background-image: url('../../../public/images/back.png');
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }


  .login{
    position: absolute;
    margin-top: 0px;
    margin-bottom: 97px;
    border-radius: 10px;
    background-color: rgb(238, 222, 194);
    font-size: 2rem;
    align-items: center;
    padding: 15px 33px;
    width: 10%;
    
  }

  .login > a{
    color: rgb(73, 23, 3);
    text-decoration: none;
  }

  .login:hover{
    background-color: rgb(230, 191, 124);
    font-size: 1.5rem;
    padding: 15px 43px;
  }

  .signup{
    margin-top: 160px;
    margin-bottom: 88px;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(238, 222, 194);
    font-size: 2rem;
    padding: 15px 23px;
    align-items: center;
    width: 10%;
    
  }

  .signup > a{
    color: rgb(73, 23, 3);
    text-decoration: none;
  }

  .signup:hover{
    background-color: rgb(230, 191, 124);
    font-size: 1.5rem;
    padding: 15px 37px;
  }