.centralPage {
    background-image: url('../../../public/images/mybg.png');
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }


  .caption{
    margin-top: 0%;
    margin-bottom: 40%;
    margin-left: 9%;
    font-size: 2rem;
    align-items: center;
    color: rgb(112, 203, 209);
    font-family: Arial, Helvetica, sans-serif;
    width: 19%;
  }

  .caption:hover{
    color: rgb(192, 199, 255);
  }